<div id="game-part">
    <div id="top-part">
        <div id="showman-part" class="center">
            <mat-card id="comment" class="center">
                {{comment}}
            </mat-card>
            <mat-card class="showman-card" [style.background-color]="showman?.id === ''? '#CDCDCD':'#fff'">
                <div class="center">
                    <mat-card-header>
                        <mat-card-title class="text-center">{{showman?.name}}</mat-card-title>
                        <mat-card-subtitle class="text-center">Showman</mat-card-subtitle>
                    </mat-card-header>
                </div>
                <div id="showman-image">
                    <img mat-card-image
                        src="https://avatars.dicebear.com/api/avataaars/{{(showman?.name??'').replace('?','')}}.svg"
                        alt="Showman" style="
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                    ">
                </div>
                <mat-progress-bar mode="determinate" value="{{100/secondsMax*seconds}}"
                    *ngIf="gameState==='choose-player-start'">
                </mat-progress-bar>
            </mat-card>
        </div>
        <div id="right-part">
            <mat-progress-bar mode="determinate" value="{{100/secondsMax*seconds}}" *ngIf="gameState==='rates'"
                style="display: flex;">
            </mat-progress-bar>
            <app-screen [gameState]="gameState" [themes]="themes" [roundName]="roundName" [questions]="questions"
                [chooser]="chooser" [playerName]="playerName" [position]="position" [typeRound]="typeRound"
                [atom]="atom" [gameId]="gameId" [pause]="gamePause" class="center" style="width: 100%;height: 100%"></app-screen>

        </div>
    </div>
    <div id="bottom-part">
        <div id="actions" class="center">
            <button mat-button (click)="clickForAnswer()"
                *ngIf="role==='player'&&(gameState==='show-question'||gameState==='can-answer'||gameState==='answer')">Answer
                the
                question</button>
            <button mat-button (click)="pause()" *ngIf="role==='showman'&&gameState!=='waiting-ready'">Pause</button>
            <button mat-button (click)="skip()" *ngIf="role==='showman'&&gameState!=='waiting-ready'">Skip</button>
            <button mat-button (click)="start()" *ngIf="role==='showman'&&gameState==='waiting-ready'">Start the
                game</button>
            <button mat-button (click)="changeReady()" *ngIf="role==='player'&&gameState==='waiting-ready'">Change
                ready</button>
            <button mat-button (click)="leave()">Leave the game</button>
        </div>
        <app-players [players]="players" [maxPlayers]="maxPlayers" [gameState]="gameState" [seconds]="seconds"
            [secondsMax]="secondsMax" [chooser]="chooser" [role]="role" style="width: 75%">
        </app-players>
    </div>
</div>