<div id="game-part">
    <div id="top-part">
        <div id="showman-part" class="center">
            <mat-card class="showman-card" [style.background-color]="showman.id === ''? '#CDCDCD':'#fff'">
                <div class="center">
                    <mat-card-header>
                        <mat-card-title class="text-center">{{showman.name}}</mat-card-title>
                        <mat-card-subtitle class="text-center">Showman</mat-card-subtitle>
                    </mat-card-header>
                </div>
                <div id="showman-image">
                    <img mat-card-image src="https://avatars.dicebear.com/api/avataaars/{{showman.name}}.svg"
                        alt="Showman" style="
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                    ">
                </div>
                <mat-progress-bar mode="determinate" value="{{100/secondsMax*seconds}}"
                    *ngIf="gameState==='choose-player-start'">
                </mat-progress-bar>
            </mat-card>
        </div>
        <app-screen [gameState]="gameState" [themes]="themes" [roundName]="roundName" [questions]="questions"
            [chooser]="chooser" [playerName]="getPlayerName()" [position]="position" class="center"></app-screen>
    </div>
    <div id="bottom-part">
        <div id="actions" class="center">
            <button mat-button (click)="start()" *ngIf="role==='showman'&&gameState==='waiting-ready'">Start the
                game</button>
            <button mat-button (click)="changeReady()" *ngIf="role==='player'&&gameState==='waiting-ready'">Change
                ready</button>
            <button mat-button (click)="leave()">Leave the game</button>
        </div>
        <app-players [players]="players" [maxPlayers]="maxPlayers" [gameState]="gameState" [seconds]="seconds"
            [secondsMax]="secondsMax" [chooser]="chooser">
        </app-players>
    </div>
</div>