<div class="center" style="margin-top: 15px;">
    <mat-form-field>
        <mat-label>Game name: </mat-label>
        <input matInput [(ngModel)]="name" />
    </mat-form-field>
    <mat-form-field>
        <ngx-mat-file-input [formControl]="fileControl" placeholder="Question pack" accept=".siq">
        </ngx-mat-file-input>
    </mat-form-field>
    <mat-label>Max player: </mat-label>
    <mat-slider min="2" max="8">
        <input [(ngModel)]="maxPlayers" matSliderThumb>
    </mat-slider>
    <button mat-raised-button color="primary" (click)="create()">Create</button>
</div>