<h1 mat-dialog-title>Enter your name</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name" required="true">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{name: data.name,type:'player'}" [disabled]="data.name!==''?false:true">Join
        as a player</button>
    <button mat-button [mat-dialog-close]="{name: data.name,type:'showman'}" [disabled]="data.name!==''?false:true">Join
        as a showman</button>
    <button mat-button (click)="onCancelClick()">Cancel</button>
</div>